<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>06-11</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }

      .title {
        text-align: center;
        font-weight: bold;
        font-size: 20pt;
      }

      .todo-done {
        text-decoration: line-through;
      }

      .container {
        padding: 10px 10px 10px 10px;
      }

      .panel -borderless {
        border: 0;
        box-shadow: none;
      }

      .pointer {
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div id="app" class="container">
      <div class="card card-body bg-light">
        <div class="title">:: Todolist App</div>
      </div>
      <div class="card card-default card-borderless">
        <div class="card-body">
          <!-- 추가 예정 -->
          <div class="row mb-3">
            <div class="col">
              <ul class="list-group">
                <li
                  v-for="todoitem in todolist"
                  :key="todoitem.id"
                  class="list-group-item"
                  :class="{'list-group-item-success' : todoitem.completed}"@click='toggleCompleted'
                >
                  <span class="pointer">{{todoitem.todo}}</span>
                  <span class="float-end badge bg-secondary pointer" @click stop ="deleteTodo(todoitem.id)">삭제</span>
                </li>
              </ul>
              <div class="input-group">
                <input
                  type="text"
                  id="msg"
                  class="form-control"
                  name="msg"
                  placeholder="'할일을 여기에 입력하세요!!"
                  v-model="todo"
                  @keyup.enter="addTodo"
                />
                <span class="btn btn-primary input-group-addon" @click="addTodo"
                  >추가</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      var ts = new Date().getTime();
      var vm = Vue.createApp({
        name: 'APP',
        data() {
          return {
            todo: '', // 입력한 할 일 저장할 곳
            todolist: [
              { id: ts, todo: '자전거타기', completed: false },
              { id: ts, todo: '축구하기', completed: true },
              { id: ts, todo: '노래부르기', completed: false },
              { id: ts, todo: '놀기', completed: false },
            ],
          };
        },
        methods: {
          // 입력한 값 model에 넣어서 [] 맨끝에 넣자(Push)

          addTodo() {
            if (this.todo.length >= 2) {
              this.todolist.push({
                Id: new Date().getTime(),
                todo: this.todo,
                completed: false,
              });
              this.todo = '';
            }
          },
          //삭제버튼 누른 항목 제거, 선택한 버튼의 id로 삭제 처리
          deleteTodo(id) {
            //위치를 찾아서
            let index = this.todolist.findIndex((item)=>id==item.id)
            this.todolist.splice(index,1)          },
          // 클릭하면 취소선 스타일 지정되고 배경색을 변경하는 스타일 지정
          // 선택한 항목의 Id로 찾아서 스타일 지정

          toggleCompleted(id) {

          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
