<!doctype html>
<html>
  <head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>안녕하세요, {{ userName }}님!</h1>

      //1. 데이터 바인딩 
      <input type="text" v-model="userName" placeholder="이름을 입력하세요" />
      <button @click="changeName">이름바꾸기</button>

      <p>현재 입력 중인 이름: {{ userName }}</p>
      <input type="text" v-model="searchQuery" />
      <button>검색</button>

      <ul>
        <li v-for="item in filteredList" :key="item.id">
          
          <span
            @click="toggleTodo(item.id)"
            :style="{textDecoration : item.done ? 'line-through' : 'none'}"
            >{{item.text}}</span
          >
          <button @click="deleteTodo(item.id)">삭제하기</button>
        </li>
      </ul>
      <input type="text" v-model="newTodoText" />
      <button @click="addTodo">추가</button>
      <br />
    </div>

    <script>
      const { createApp } = Vue;
      createApp({
        data() {
          return {
            userName: '박건우',
            todolist: [
              { id: 1, text: 'Vue 공부', done: false },
              { id: 2, text: '운동', done: false },
            ],
            newTodoText: '',
            searchQuery:'',
          };
        },
        computed:{
            filteredList(){
                if(!this.searchQuery){
                    return this.todolist;
                }
                return this.todolist.filter((item)=>item.text.includes(this.searchQuery))

            }
        },
        methods: {
          changeName() {
            this.userName = 'gemini';
          },
        
          addTodo(){
            this.todolist.push({id:Date.now(), text:this.newTodoText})
          },
          deleteTodo(targetId) {
            this.todolist = this.todolist.filter(
              (item) => item.id !== targetId,
            );
          },
          toggleTodo(targetId) {
            this.todolist = this.todolist.map((item) => {
              if (item.id === targetId) {
                item.done = !item.done;
              }
              return item;
            });
          },

          //   deleteTodo(targetId) {
          //     this.todolist = this.todolist.filter(
          //       (item) => item.id !== targetId,
          //     );
          //   },
          //   deleteTodo(targetId) {
          //     this.todolist = this.todolist.filter((item) => item.id !== targetId);
          //   },
        },
      }).mount('#app');
    </script>
  </body>
</html>
