<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h2>취미생활</h2>
      <input type="checkbox" id="hobbya" value="a" v-model="hobby" />
      <label for="hobbya">운동</label>
      <br />
      <input type="checkbox" id="hobbyb" value="b" v-model="hobby" />
      <label for="hobbyb">독서</label>
      <div>선택한 취미 : {{hobby.join(',')}}</div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/JavaScript">
      var vm=Vue.createApp({
          name : 'APP',
          data(){
              return {hobby:[]}
          }
      }).mount('#app')
    </script>
  </body>
</html>
